## Príprava dát

Súbor: priprava_dat.ipynb

Program: Hospodárska informatika

Vypracovala: Terézia Drengubiaková

Bakalárska práca: : Prediktívne modely v spracovaní dát z oblasti kozmického počasia

Vedúci diplomovej práce: doc. Ing. Peter Butka, PhD.

Konzultanti: Ing. Viera Maslej Krešňáková, PhD., RNDr. Šimon Mackovjak, PhD.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('omni_full.csv')

In [3]:
df = df.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', 'BZ_GSM-1', 'BZ_GSM-2', 'BZ_GSM-3', 'BZ_GSM-4', 'BZ_GSM-5', 'BZ_GSM-6',
       'BZ_GSM-7', 'BZ_GSM-8', 'BZ_GSM-9', 'BZ_GSM-10', 'BZ_GSM-11',
       'BZ_GSM-12', 'BZ_GSM-13', 'BZ_GSM-14', 'BZ_GSM-15', 'BZ_GSM-16',
       'BZ_GSM-17', 'BZ_GSM-18', 'BZ_GSM-19', 'BZ_GSM-20', 'BZ_GSM-21',
       'BZ_GSM-22', 'BZ_GSM-23', 'BZ_GSM-24'])

In [4]:
len(df)

520443

In [5]:
df.shape

(520443, 55)

In [6]:
df.isna().sum()

time1                     0
Rot$                      0
IMF                       0
PLS                       0
IMF_PTS                   0
PLS_PTS                   0
ABS_B                124067
F                    124067
THETA_AV             124067
PHI_AV               124067
BX_GSE               124067
BY_GSE               124067
BZ_GSE               124067
BY_GSM               124093
BZ_GSM               124093
SIGMA$ABS_B          141086
SIGMA$B              124223
SIGMA$Bx             124622
SIGMA$By             124609
SIGMA$Bz             124606
T                    161020
N                    144145
V                    127822
PHI$V                159323
THETA$V              194992
Ratio                228207
Pressure             144153
SIGMA$T              164786
SIGMA$N              165563
SIGMA$V              159753
SIGMA$PHI$V          174407
SIGMA$THETA$V        208894
SIGMA$ratio          228207
E                    151606
Beta                 176713
Mach_num             160867
Mgs_mach_num         176708
PR$FLX_1             286726
PR$FLX_2             323149
PR$FLX_4             323150
PR$FLX_10            155408
PR$FLX_30            155441
PR$FLX_60            155455
MFLX                      0
R                         0
F10_INDEX               523
KP                        0
DST                       0
AE                        0
AP_INDEX                  0
AL_INDEX                  0
AU_INDEX                  0
PC_N_INDEX           117482
Solar_Lyman_alpha        41
Proton_QI            160870
dtype: int64

In [7]:
df

,time1,Rot$,IMF,PLS,IMF_PTS,PLS_PTS,ABS_B,F,THETA_AV,PHI_AV,...,F10_INDEX,KP,DST,AE,AP_INDEX,AL_INDEX,AU_INDEX,PC_N_INDEX,Solar_Lyman_alpha,Proton_QI
0,1963-01-01 01:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,7.0,-5.0,143.0,3.0,99999.0,99999.0,NaN,0.006194,NaN
1,1963-01-01 02:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,7.0,-5.0,66.0,3.0,99999.0,99999.0,NaN,0.006194,NaN
2,1963-01-01 03:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,20.0,-3.0,51.0,7.0,99999.0,99999.0,NaN,0.006194,NaN
3,1963-01-01 04:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,20.0,-3.0,95.0,7.0,99999.0,99999.0,NaN,0.006194,NaN
4,1963-01-01 05:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,20.0,-6.0,57.0,7.0,99999.0,99999.0,NaN,0.006194,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520438,2022-05-13 12:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,99.0,2.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
520439,2022-05-13 13:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,99.0,4.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
520440,2022-05-13 14:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,99.0,5.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
520441,2022-05-13 15:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,99.0,5.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
520442,2022-05-13 16:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,...,NaN,99.0,4.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN

In [8]:
df.columns

Index(['time1', 'Rot$', 'IMF', 'PLS', 'IMF_PTS', 'PLS_PTS', 'ABS_B', 'F',
       'THETA_AV', 'PHI_AV', 'BX_GSE', 'BY_GSE', 'BZ_GSE', 'BY_GSM', 'BZ_GSM',
       'SIGMA$ABS_B', 'SIGMA$B', 'SIGMA$Bx', 'SIGMA$By', 'SIGMA$Bz', 'T', 'N',
       'V', 'PHI$V', 'THETA$V', 'Ratio', 'Pressure', 'SIGMA$T', 'SIGMA$N',
       'SIGMA$V', 'SIGMA$PHI$V', 'SIGMA$THETA$V', 'SIGMA$ratio', 'E', 'Beta',
       'Mach_num', 'Mgs_mach_num', 'PR$FLX_1', 'PR$FLX_2', 'PR$FLX_4',
       'PR$FLX_10', 'PR$FLX_30', 'PR$FLX_60', 'MFLX', 'R', 'F10_INDEX', 'KP',
       'DST', 'AE', 'AP_INDEX', 'AL_INDEX', 'AU_INDEX', 'PC_N_INDEX',
       'Solar_Lyman_alpha', 'Proton_QI'],
      dtype='object')

In [9]:
df["DST+1"] = df.DST.shift(periods = 0)
df["DST+2"] = df.DST.shift(periods = -1)
df["DST+3"] = df.DST.shift(periods = -2)
df["DST+4"] = df.DST.shift(periods = -3)
df["DST+5"] = df.DST.shift(periods = -4)
df["DST+6"] = df.DST.shift(periods = -5)

In [10]:
df.columns

Index(['time1', 'Rot$', 'IMF', 'PLS', 'IMF_PTS', 'PLS_PTS', 'ABS_B', 'F',
       'THETA_AV', 'PHI_AV', 'BX_GSE', 'BY_GSE', 'BZ_GSE', 'BY_GSM', 'BZ_GSM',
       'SIGMA$ABS_B', 'SIGMA$B', 'SIGMA$Bx', 'SIGMA$By', 'SIGMA$Bz', 'T', 'N',
       'V', 'PHI$V', 'THETA$V', 'Ratio', 'Pressure', 'SIGMA$T', 'SIGMA$N',
       'SIGMA$V', 'SIGMA$PHI$V', 'SIGMA$THETA$V', 'SIGMA$ratio', 'E', 'Beta',
       'Mach_num', 'Mgs_mach_num', 'PR$FLX_1', 'PR$FLX_2', 'PR$FLX_4',
       'PR$FLX_10', 'PR$FLX_30', 'PR$FLX_60', 'MFLX', 'R', 'F10_INDEX', 'KP',
       'DST', 'AE', 'AP_INDEX', 'AL_INDEX', 'AU_INDEX', 'PC_N_INDEX',
       'Solar_Lyman_alpha', 'Proton_QI', 'DST+1', 'DST+2', 'DST+3', 'DST+4',
       'DST+5', 'DST+6'],
      dtype='object')

In [11]:
df.to_csv("allDST_omni.csv")